/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #071a2f;
  --ion-background-color-rgb: 7,26,47;

  --ion-text-color: #C7EEF5;
  --ion-text-color-rgb: 199,238,245;

  --ion-color-step-50: #112539;
  --ion-color-step-100: #1a2f43;
  --ion-color-step-150: #243a4d;
  --ion-color-step-200: #2d4457;
  --ion-color-step-250: #374f61;
  --ion-color-step-300: #415a6a;
  --ion-color-step-350: #4a6474;
  --ion-color-step-400: #546f7e;
  --ion-color-step-450: #5d7988;
  --ion-color-step-500: #678492;
  --ion-color-step-550: #718f9c;
  --ion-color-step-600: #7a99a6;
  --ion-color-step-650: #84a4b0;
  --ion-color-step-700: #8daeba;
  --ion-color-step-750: #97b9c4;
  --ion-color-step-800: #a1c4cd;
  --ion-color-step-850: #aaced7;
  --ion-color-step-900: #b4d9e1;
  --ion-color-step-950: #bde3eb;

  /** primary **/
  --ion-color-primary: #55BDCA;
  --ion-color-primary-rgb: 85,189,202;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #4ba6b2;
  --ion-color-primary-tint: #66c4cf;

  /** secondary **/
  --ion-color-secondary: #DF622C;
  --ion-color-secondary-rgb: 223,98,44;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c45627;
  --ion-color-secondary-tint: #e27241;

  /** tertiary **/
  --ion-color-tertiary: #F07C41;
  --ion-color-tertiary-rgb: 240,124,65;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d36d39;
  --ion-color-tertiary-tint: #f28954;

  /** success **/
  --ion-color-success: #6CBEA7;
  --ion-color-success-rgb: 108,190,167;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #5fa793;
  --ion-color-success-tint: #7bc5b0;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #113F61;
  --ion-color-dark-rgb: 17,63,97;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0f3755;
  --ion-color-dark-tint: #295271;

  /** medium **/
  --ion-color-medium: #4096A7;
  --ion-color-medium-rgb: 64,150,167;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #388493;
  --ion-color-medium-tint: #53a1b0;

  /** light **/
  --ion-color-light: #c7EEF5;
  --ion-color-light-rgb: 199,238,245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #afd1d8;
  --ion-color-light-tint: #cdf0f6;
}


/*
  * Light Color -- to be implemented !!!
  * -------------------------------------------
  */

body .light-mode {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80,200,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106,100,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}
